<h1>what can we help you with?</h1>
<p>Find me in app/views/pages/help.html.erb</p>

<h1>
  <%= @name %>
  <p>This is a result of a method coming from the method located in the pages controller.</p>
</h1>
